llama-index
python-dotenv
html2text
google-generativeai
llama-index-llms-gemini
pypdf
scikit-learn
IPython
llama-index-embeddings-gemini
streamlit
langchain-community
openai
tiktoken
rapidocr-onnxruntime
faiss-cpu
weaviate-client
# Voice assistant
SpeechRecognition
pipwin
pyaudio
gTTS
#Multimodel
llama-index-vector-stores-lancedb
llama-index-multi-modal-llms-openai
llama-index-embeddings-clip
#git+https://github.com/openai/CLIP.git
llama-index-readers-file
llama_index
openai-whisper
lancedb
moviepy
pytube
pydub
SpeechRecognition
ffmpeg-python
soundfile
torch
torchvision
matplotlib
scikit-image
ftfy
regex
tqdm